.dialogs{
    display: flex;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
}
.people_column{
    width: 30%;
    padding: 30px 10px;
    border-right: 2px solid wheat;
}
.messages{
    width: 70%;
    padding: 30px;
}
.people_items{
    padding: 10px 20px;
}
.people_items a{
    width: 100%;
    display: block;
}
.people_items:hover{
    background-color: white;
}
.incoming{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.incoming_items{
    background-color: wheat;
    border-radius: 30px;
    width: 40%;
    padding: 20px 30px;
}
.text{
    padding-top: 10px;
}
.time{
    font-size: 14px;
}
.outgoing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 10px;
}
.outgoing_items{
    background-color:#ccffcc;
    border-radius: 30px;
    width: 40%;
    padding: 20px 30px;
}
a{
    text-decoration: none;
}
.addMessages{
    display: flex;
    align-items: flex-start;
    padding-top: 30px;

}
.addMessages input{
    width: 80%;
    padding: 10px 10px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    outline: none;
}
.addMessages input:focus{
    border: 1px solid salmon;
}

.addMessages button{
    width: 19%;
    margin-left: 1%;
    background-color: salmon;
    border: 1px solid #f2f2f2;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
}