.nav{
    grid-area: n;
    background-color: beige;
    padding: 20px 20px 20px 40px;
}
.link_nav{
    padding-bottom: 10px;
}
.link_nav a{
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.link_nav a:hover{
    opacity: 0.7;
}
.active a{
    color: salmon;
}