img {
    height: 250px;
    width: 100%;
}
.avatar_description {
    display: flex;
    padding:20px 20px 0 20px;
}
.avatar {
    width: 25%;
}
.description {
    width: 70%;
    padding-left: 30px;
}

