.app-wrapper{
  width: 1300px;
  margin: auto;
  display: grid;
  grid-auto-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap:10px;
  grid-template-areas: "h h" "n c";
}
.app_wrapper_content{
  background-color: #f2f2f2;
  grid-area: c;
}
a.active{
  color: salmon!important;
}
body{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}